.head{
   width:230px;
   height:30%px;
   background-color: blue;
}
/* div{
   width: 100%;
   height:850px;
   background-color: black;
} */
.logo{
   width:30%;
   line-height:80px;
   text-align:center ;
   background-color: aqua;
   float:left ;
} 
.menu{
   width:100%;
   line-height:80px;
   background-color: red;
   float: right;
}
ul{
   list-style: none;
   text-align: left;
  padding:0 10px;
}
li{
   display: flex;
   /* border:1px solid blue; */
   padding:0 10px;
}