*{
    margin: 0px;;
    padding:0px;
}
.border{
    width:500px;
    height: 300px;
    background-color: purple;
    /* border-width: 20px;
    border-color: black;
    border-style: dotted; */
    border:5px solif dashed
}